---
import { languages } from '../i18n/ui';
---
<div class="absolute -top-[1px] right-2 md:right-6 overflow-hidden">
  <ul class="flex flex-row">
    {Object.entries(languages).map(([lang, label]) => (
      <li class="border border-b-0 border-black ml-2">
        <a class="block px-4 py-2 bg-gray-200 hover:bg-gray-300 transition-colors ease-in-out duration-500 text-xs" href={`/${lang}/`}>{label}</a>
      </li>
    ))}
  </ul>
</div>