---
import { languages } from '../i18n/ui';
---
<div class="absolute top-0 right-6">
  <ul class="flex flex-row">
    {Object.entries(languages).map(([lang, label]) => (
      <li class="border border-b-0 border-black px-4 py-2 ml-2">
        <a href={`/${lang}/`}>{label}</a>
      </li>
    ))}
  </ul>
</div>