---
import LanguagePicker from "./LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style>
  .balance {
    text-wrap: balance;
  }
</style>

<section class="relative mb-10 pt-8 md:col-span-3 md:row-span-1 md:flex">
  <div class="mb-4 md:m-0 md:mr-6 md:max-w-[14rem] lg:max-w-xs xl:text-center">
    <img
      class="max-h-48 w-full border border-black object-cover shadow-[8px_8px_0px_rgba(32,227,178,1)] outline-0 dark:border-zinc-600 md:w-auto md:max-w-[14rem] lg:max-w-xs"
      src="./../assets/avatar.jpg"
      alt="Avatar"
    />

    <div
      class="ml-2 mt-4 hidden md:block md:max-w-[14rem] lg:max-w-xs xl:hidden"
    >
      <p class="balance m-0 block p-0 text-xs font-light italic leading-4">
        <q class="bg-primary/20 dark:bg-secondary dark:text-black"
          >Got to move on sometime and it's about time by putting one foot in
          front of another</q
        >
        <span class="block">Martin L. Gore</span>
      </p>
    </div>
  </div>

  <div
    class="relative border border-black p-4 pb-12 shadow-[8px_8px_0px_rgba(0,0,0,1)] dark:border-zinc-600 dark:shadow-zinc-800 md:pt-6 lg:w-full xl:flex xl:flex-row xl:gap-4 xl:pl-8"
  >
    <div class="xl:basis-1/4">
      <a
        class="m-0 block p-0 text-xs leading-4"
        href="mailto:leandrovilanova@gmail.com">leandrovilanova@gmail.com</a
      >
      <address class="m-0 block p-0 text-xs not-italic leading-5">
        Buenos Aires, Argentina
      </address>
      <a
        class="mb-4 mt-4 inline-block p-0 text-xs leading-4 underline transition-colors duration-500 ease-in-out hover:bg-secondary dark:hover:text-black"
        href="https://www.behance.net/leandrovilanova"
        >behance.net/leandrovilanova</a
      >
    </div>

    <div class="xl:basis-2/4">
      <p class="balance m-0 block p-0 text-xs leading-4 xl:max-w-prose">
        {t("profile.bio")}
      </p>
      <p class="m-0 mt-4 block p-0 text-xs leading-4">
        {t("profile.subtitle")}
      </p>
    </div>

    <div class="mt-4 max-w-xs md:hidden xl:mt-0 xl:block xl:basis-1/4">
      <p class="m-0 block p-0 text-xs font-light italic leading-4">
        <q class="bg-primary/20"
          >Got to move on sometime and it's about time by putting one foot in
          front of another</q
        >
        <span class="block">Martin L. Gore</span>
      </p>
    </div>

    <div class="absolute -bottom-3 right-2 md:right-6">
      <a
        href="mailto:leandrovilanova@gmail.com"
        class="border border-black bg-primary px-8 py-5 uppercase text-black transition-colors duration-500 ease-in-out hover:bg-secondary"
        >{t("profile.hire")}
      </a>
    </div>
  </div>
  <LanguagePicker />
</section>
