---
import LanguagePicker from './LanguagePicker.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="mb-10 md:mb-16 md:flex md:col-span-3 md:row-span-1 pt-8 relative">

  <div class="mb-4 md:max-w-xs md:m-0 md:mr-6 xl:text-center">
    <img class="outline-0 border border-black object-cover w-full max-h-48 md:w-auto md:max-w-xs shadow-[8px_8px_0px_rgba(32,227,178,1)]" src="./../assets/avatar.jpg" alt="Avatar">

    <div class="mt-4 max-w-xs hidden md:block xl:hidden">
      <p class="block text-xs p-0 m-0 leading-4 font-light italic"><q class="bg-primary/20">Got to move on sometime and it's about time by putting one foot in front of another</q> <span class="block">Martin L. Gore</span></p>
    </div>
  </div>

  <div class="relative p-4 pb-12 border border-black shadow-[8px_8px_0px_rgba(0,0,0,1)] md:pt-6 lg:w-full xl:flex xl:flex-row xl:gap-4 xl:pb-4">
    <div class="xl:basis-1/4">
      <a class="block text-xs p-0 m-0 leading-4" href="mailto:leandrovilanova@gmail.com">leandrovilanova@gmail.com</a>
      <address class="block text-xs p-0 m-0 leading-5 not-italic">Buenos Aires, Argentina</address>
      <a class="inline-block text-xs p-0 mb-4 mt-4 leading-4 underline hover:bg-secondary transition-colors ease-in-out duration-500" href="https://www.behance.net/leandrovilanova">behance.net/leandrovilanova</a>
    </div>

    <div class="xl:basis-2/4">
      <p class="block text-xs p-0 m-0 leading-4 xl:max-w-prose">{t('profile.bio')}</p>
      <p class="block text-xs p-0 m-0 mt-4 leading-4">{t('profile.subtitle')}</p>
    </div>
    
    <div class="absolute -bottom-3 right-2 md:right-6">
      <a href="mailto:leandrovilanova@gmail.com" class="shadow-sm shadow-secondary/50 py-5 px-8 border border-black transition text-black uppercase bg-primary hover:bg-secondary ease-in-out duration-500 hover:drop-shadow-2xl">{t('profile.hire')</a>
    </div>

    <div class="mt-4 max-w-xs md:hidden xl:block xl:mt-0 xl:basis-1/4">
      <p class="block text-xs p-0 m-0 leading-4 font-light italic"><q class="bg-primary/20">Got to move on sometime and it's about time by putting one foot in front of another</q> <span class="block">Martin L. Gore</span></p>
    </div>
  </div>

  <LanguagePicker/>
</section>