---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const studies = t("studies");
---

<aside
  class="relative col-span-1 row-span-2 mb-8 bg-black p-12 pb-16 shadow-[8px_8px_0px_rgba(32,227,178,1)] dark:bg-slate-800 md:p-6 lg:p-12"
>
  {
    studies.map((study) => (
      <p class="mb-5 text-xs leading-5 text-primary">
        <span class="block text-white">{study.title}</span>
        {study.place}
      </p>
    ))
  }
  <h2
    class="absolute bottom-0 left-12 right-12 bg-primary px-4 pt-2 text-center text-3xl font-light uppercase text-white antialiased md:left-6 md:right-6 lg:left-12 lg:right-12"
  >
    {t("studies.title")}
  </h2>
</aside>
