---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const jobs = t('jobs');
---

<style>
  p { text-wrap: balance }
</style>

<main class="col-span-2 row-span-2 md:-mt-16 xl:mt-0 ">
  <div class="md:flex md:-mr-1 xl:hidden">
    <h2 class="bg-black text-white text-3xl font-light uppercase border border-black mt-16 py-2 text-center md:mt-0 md:basis-1/2 lg:basis-1/3">{t('jobs.title')}</h2>
  </div>

  <div class="flex text-xs xl:hidden">
    <div class="basis-1/3 pr-4 pb-6 text-right"></div>
    <div class="basis-2/3 border-l border-black md:pr-6"></div>
  </div>

  { jobs.map((item, index) => (
    <div class="flex text-xs">
      <div class="basis-1/3 pr-4 pb-6 text-right">
        <p class="bg-primary inline">{ item.job }</p>
        <p><Fragment set:html={item.place} /></p>
        
        <p>{ item.years }</p>
      </div>

      <div class="basis-2/3 border-l border-black md:pr-6">
        <p class="pl-4 pb-6 relative md:pl-4">
          <Fragment set:html={item.info} />
          { index === 0 && (
            <span class="hidden xl:block absolute w-2 h-2 -top-1 -left-1 border-l-[4px] border-l-transparent border-b-[8px] border-black border-r-[4px] border-r-transparent"/>
          )}
          <span class="absolute w-2 h-2 bg-primary top-5 -left-1"/>
        </p>
      </div>
    </div>
  ))}

  <div class="hidden xl:flex">
    <h2 class="bg-black text-white text-3xl font-light uppercase border border-black -mr-2 text-center basis-1/3 py-2" style="margin-inline: auto">{t('jobs.title')}</h2>
  </div>
</main>
